{% extends 'base.html' %}

{% block content %}
<h3>VERSION 1.0.0</h3>
<hr>
<b><p>A first of its kind speech to sign language translator for India. If one of your friends or loved ones is deaf or has a hearing impairment, 
it is quite difficult to communicate with them if you don't know the sign language. Worry no more, <i>Aidable </i>is here for your aid.
<br><br>
Aidable is a web app that interprets spoken and written English into Indian sign language using a 3D friendly avatar.
The 3D avatar will interpret text/speech input in English and deliver real-time sign language translations, enabling easier communication with the deaf & hard of hearing community without having to know sign language.
Aidable is not meant to replace human SL interpreters, rather to make every-day communication with the deaf and hard of hearing community more accessible.</b></p>

<h3>Two input ways</h3>

<p>Aidable also translates text into sign lanuage, so the user can type as well as speak as per their convinence.</p>

<h3>Learn Sign Language</h3>

<p>Aidable features a Indian Sign Language tutorial with multiple reference links, making it a great tool for anyone to learn the language from their phones.</p>

<h3>Aidable is a powerful tool, used in the most diverse contexts:</h3>
<ul>
  <li>In the classroom, by teachers, students and interpreters as a complementary communication resource.</li>
 <li> At home, by families with deaf and hearing people.</li>
  <li>For learning Indian Sign Language.</li>
</ul>

<h3>Main Features</h3>
<ul>
<li>Real-Time English-to-Indian Sign Language Translation (speech/text-to-SL)
<li>Indian Sign Language Tutorial</li>
<li>Multiple 3D avatars</li>
</ul>
<hr>


<h3>Our Creator Team:</h3>	
<h4 style = "color: black;"><p>We are just a bunch of Enthusiastic people, who wants to help The Society.</p></h4>

	<ul style = "font-family : Verdana">
		<li>DOLLY GUPTA</li>
		<li>HARSH AGARWAL</li>
		<li>SHRADDHA GOLE</li>
		
	</ul>
<hr>
	<h4>Thank you, For visiting our website.</h4>
{% endblock %}
